.star
    width: 5px
    height: 5px
    background-image: url("../../assets/images/star.svg")
    background-size: contain
    position: absolute

    &--1
        margin: 583px 0 0 632px

    &--2
        margin: 99px 0 0 500px

    &--3
        margin: 543px 0 0 1997px

    &--4
        margin: 97px 0 0 1820px

    &--5
        margin: 175px 0 0 914px

    &--6
        margin: 311px 0 0 271px

    &--7
        margin: 99px 0 0 750px