@mixin circle($diameter, $color)
    height: $diameter
    width: $diameter
    border-radius: 100%
    background-color: $color
    flex-shrink: 0

@mixin d-flex-start()
    display: flex
    justify-content: flex-start
    align-items: center
